# API
PORT=3001
NODE_ENV=development

# Database
DATABASE_URL=postgresql://bac_user:bac_password@localhost:5433/bac_bank?schema=public
PRISMA_CONNECT_ON_STARTUP=true

# Redis
REDIS_URL=redis://localhost:6379

# Auth
JWT_ACCESS_SECRET=change_this_access_secret
JWT_REFRESH_SECRET=change_this_refresh_secret

# Web app
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001/api/v1
NEXT_PUBLIC_ASSET_BASE_URL=
